#greeting {
  margin-left: auto;
  margin-right: auto;
  width: 32%;
  background-color: green;
}
body {
  background-color: rgb(100, 100, 255);
}
#operands{
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
#operations{
  margin-right: auto;
  margin-left: auto;
  width: 25%;
  background-color: #44d2b1;
}
